@{
    ViewBag.Title = "Confirmation du mot de passe oublié";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Vérifiez votre adresse de messagerie pour réinitialiser votre mot de passe.
        </p>
    </div>
</main>
